# requirements_antifraud.txt

```txt
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
numpy
pandas
scipy
scikit-learn
imbalanced-learn
matplotlib
seaborn
tqdm
pyyaml
networkx
tensorboard
tensorboardX
jupyter
plotly
umap-learn
requests
openai
torch-geometric
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
```

